@use 'vars';

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card {
    width: 320px;
    min-height: 205px;
    padding: 20px;
    background-color: vars.$white-color;
    border: 1px solid vars.$gray-200;
    border-radius: 16px;

    @include desktop {
        width: 500px;
    }

    h1 {
        @include title;
    }
}

@mixin desktop {
    @media (width >= 1024px) {
        @content;
    }
}

@mixin cardsMind {
    max-width: 752px;
    padding: 20px;
    border: 1px solid vars.$gray-500;
    border-radius: 16px;
}

@mixin formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;

    label {
        font-size: 16px;
        font-weight: 400;
        color: vars.$black-color;
    }

    input[type="text"] {
        height: 32px;
        border: 1px solid vars.$gray-400;
        border-radius: 8px;
        padding-inline: 15px;
        transition: border-color 0.5s ease-in;

        font-size: 14px;
        font-weight: 400px;

        &::placeholder {
            
            color: vars.$gray-200;
        }

        &:focus {
            outline: none;
        }
    }

    textarea {
        width: 100%;
        height: 74px;
        padding: 10px 15px;
        border: 1px solid vars.$gray-400;
        border-radius: 8px;
        resize: none;
        scrollbar-width: none;

        font-size: 14px;
        font-weight: 400px;

        &::placeholder {
            color: vars.$gray-200;
        }

        &:focus {
            outline: none;
        }
    }

    .erro {
        border-color: vars.$red-color !important;
    }

    .error {
        position: absolute;
        left: 16px;
        bottom: -15px;
        font-size: 11px;
        font-weight: 700;
        color: vars.$red-color;
    }
}

@mixin title {
    font-size: clamp(19px, 0.28vw + 17.94px, 22px);
    font-weight: 700px;
}

@mixin text($w) {
    font-size: 18px;
    font-weight: $w;
    line-height: 100%;
    color: vars.$gray-400;
}

@mixin scroll {
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

@mixin cardsDE {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 660px;
    width: 100%;
    padding: 20px;
    background-color: vars.$white-color;
    border: 1px solid vars.$gray-500;
    border-radius: 16px;

    h1 {
        @include title;
    }
}