@use 'vars';
@use 'buttons.scss' as *;
@use 'pages/SingUp' as *;
@use 'pages/Home' as *;
@use 'components/IntroSection' as *;
@use 'components/SignUpModal' as *;
@use 'components/Header' as *;
@use 'components/Logo' as *;
@use 'components/Container' as *;
@use 'components/Mind' as *;
@use 'components/FormPost' as *;
@use 'components/CardPost' as *;
@use 'components/Delete' as *;
@use 'components/Edit' as *;
@use 'components/ContainerBtns' as *;
@use 'components/Load' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: vars.$gray-100;
}