@use 'buttons.scss' as *;
@use 'pages/SingUp' as *;
@use 'components/IntroSection' as *;
@use 'components/SignUpModal' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}