@use '../vars';

.header {
    display: flex;
    align-items: center;
    max-width: 800px; 
    height: 80px;
    padding-inline: 20px;
    margin: 0 auto;
    background-color: vars.$primary-color;
}