@use '../mixins';
@use '../vars';

.SignUpModal {
    @include mixins.card;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    .form-sing-up {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        width: 100%;

        .form-group {
            @include mixins.formGroup; 
        }
    }
}